/***** `leftyout *****/
.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

.clear.divider { 
  border-top: 1px solid #e0e0e0; 
  margin-right: auto; 
  margin-left: auto;
  visibility: visible;
  width: 930px; 
}

.cushion { padding: 15px 5px; }
.primary { margin: 15px 6px 15px 14px; }
.secondary { margin: 15px 14px 15px 6px; }
.solo { width: 930px!important; margin: 15px 15px 0 15px!important;}

.container_16 .grid_1.cushion {width:30px}
.container_16 .grid_2.cushion {width:90px}
.container_16 .grid_3.cushion {width:150px}
.container_16 .grid_4.cushion {width:210px}
.container_16 .grid_5.cushion {width:270px}
.container_16 .grid_6.cushion {width:330px}
.container_16 .grid_7.cushion {width:390px}
.container_16 .grid_8.cushion {width:450px}
.container_16 .grid_9.cushion {width:510px}
.container_16 .grid_10.cushion {width:570px}
.container_16 .grid_11.cushion {width:630px}
.container_16 .grid_12.cushion {width:690px}
.container_16 .grid_13.cushion {width:750px}
.container_16 .grid_14.cushion {width:810px}
.container_16 .grid_15.cushion {width:870px}
.container_16 .grid_16.cushion {width:930px}

/***** `reset *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{
  :'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** `base *****/
html, body {
  background-color: #354056;
  font-family: helvetica, arial, sans-serif;
  height: 100%;
}

a {
  color: #069;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.destructive {
  color: #900!important;
}

p a {
  text-decoration: underline;
}

p a:hover {
  text-decoration: none;
}

.primary dl {
  line-height: 140%;
}

.primary dl dt {
  font-weight: bold;
}

.primary dl dd {
  margin-bottom: 1em;
}


.primary h2,
.primary h3,
.primary h4 {
  margin: 0 0 15px;
}

.primary p,
.primary ul,
.primary ol {
  line-height: 140%;
  margin: 0 0 15px;
}

.primary h2 { font-size: large; }
.primary h3 { color: #333; font-size: 110%; margin-bottom: 5px; }
.primary h4 { font-size: small; }

.primary h4.notice {color: #58941c;}

/***** `mini *****/

.mini,
.focused,
.full {
  margin-left:auto;
  margin-right:auto;  
}
  
  .mini { width: 300px; }
  .focused { width: 600px; }
  .full { width: 875px; }
  
  .mini.primary,
  .focused.primary  {
    background: #fff;
    border: 8px solid #d6d6d6;
  }

  .mini.primary { margin-top: 10%; }
  .focused.primary { margin-top: 5%; }
  
  .mini #header,
  .focused #header {
    border-bottom: 2px solid #fff;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .mini .content,
  .focused .content  {
    padding: 15px 15px 0;
  }

  .focused .instructions  {
    padding: 15px 15px 1px;
  }
  

  .mini #supplement,
  .focused #supplement {
    border-top: 2px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
  }

  #supplement .email {
    border-top: 1px solid #ccc;
    background: url(../../images/app/icons/small/Email.png) 0px 9px no-repeat;
    font-size: small;
    margin-top: 10px;
    padding-top:10px;
    padding-left: 24px;
  }
  
  #supplement.buttons {
    padding: 15px;
  }
  
  #header div.return {
    color: #999;
    border-bottom: 1px solid #d0d0d0;
    padding: 0 0 10px 0;
    margin: 0 0 5px 0;
    
  }
  
  #header div.return a {
    background: none;
    color: #666;
    font-size: small;
  }

/***** `table *****/

table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  clear: both;
  line-height: 140%;
  margin-bottom: 15px;
  width: 100%;
}

  table td {
    padding: 8px;
  }

  table td span {
    color: #888;
    font-weight: normal;
  }

  table td span strong {
    color: #666;
  }

  table tr.alt td {
    background-color: #f0f0f0;
  }

  table th {
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 8px 5px 5px;
    text-align: left;
  }

  table .quantity {
    text-align: right;
  }
  
  table td.narrow {
    width: 1%;
  }

  table tfoot td {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #e0e0e0;
  }
  
  table tfoot td span {
    color: #666;
    font-weight: normal;
  }

  /***** `plans *****/
  tr.upgrade td {
    
  }
  
  tr.current td {
    background-color: #e3fbe1;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  tr.downgrade td {
    
  }
  
  .ineligible td {
    background-color: #f0f0f0;
    color: #666;
  }

  .ineligible tr:first-child td {
    border-top: 2px solid #e0e0e0;
  }
  
/***** `clean table *****/

table.clean {
  border: none;
  width: 100%;
}

table.clean th {
  background: none;
}

table.clean tbody tr td {
  border-top: 1px solid #e2e2e2;
}

table.clean tr.group th {
  padding: 0;
}

table.clean tr.group th.name {
  padding-left: 10px;
}

table thead tr.columns th {
  color: #6e6e71;
}

table.clean tfoot td {
  padding-left: 10px;
  border: 1px solid #e2e2e2;
}

table.clean tr.group .status,
table.clean tr.group .active,
table.clean .progress,
table.clean .mine,
table.clean .milestones {
  border-left: 1px solid #e2e2e2;
  padding-left: 20px!important;
}

table.clean .milestones a {
  background: none;
}

table.clean tr.group th {
  text-align: center;
}

table.clean tr:hover td {
  background: #e7eef4!important;
}

table.clean tr.inactive td {
  background: #f0f0f0;
  opacity: .5;
}

table.clean tr.inactive:hover td {
  opacity: 1!important;
}

table.clean th,
table.clean td {
  padding: 10px 0;
}

table.clean .percentage,
table.clean .date {
  padding-right: 20px;
}

table thead tr.group th {
  color: #6e6e71;
  font-size: .9em;
  font-weight: normal;
}

table.clean .name,
table.clean th.milestones,
table.clean th.status {
  text-align: left!important;
}


table.clean th.delete {
  padding-right: 20px;
}

table.clean .name {
  width: 5%;
  padding-left: 10px;
  padding-right: 20px;
}

table.clean .name a {
  font-weight: bold!important;
}

table.clean span.overdue {
  color: #c00!important;
  font-weight: bold;
}

table.clean .manage {
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
  width: 1%;
  border-left: 1px solid #e2e2e2;
}

table.clean .new {
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 0;
  width: 1%;
}

table.clean .new a {
  background: transparent url(../../images/app/buttons/CreateIssueCompact.png) 0 50% no-repeat;
  display: block;
  float: right;
  padding: 2px 0 1px 25px;
  text-align: right;
  
}
table.clean .date {
  padding-left: 20px;
  vertical-align: middle;
}

table.clean .percentage {
  padding-left: 10px;
  text-align: right;
  vertical-align: middle;
  width: 1%;
}

table.clean .count {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 10%;
}

table.clean td.percentage,
table.clean .count a {
  font-size: 1.2em;
  font-weight: bold;
}

table.clean .count a {
  display: block;
  padding: 10px 5px;
  
}

table.clean td.status {
  height: 100%;
  vertical-align: middle;
  padding-left: 20px;
  border-left: 1px solid #e2e2e2;
}

table.clean td.delete {
  width: 1%;
  text-align: center;
}

table.clean td.text-input {
  width: 1%!important;
}

table.clean .date {
  padding-right: 0;
  padding-left: 0;
  width: 35%;
}

table.status {
  border: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 0;
  width: auto;
}
table.status tr {
  border: none!important;
}

table.status td {
  border: 2px solid #fff!important;
  margin: 0!important;
  padding: 0!important;
}

table.status td a {
  display: block;
  padding: 6px 5px 4px;
  text-align: center;
  margin: 0;
}

table.status td a:hover {
  color: #fff!important;
  font-weight: bold;
  text-decoration: none;
}

table.status td a.closed {
  color: #555;
}

table.status td a.resolved {
  color: #638296;
}

table.status td a.open {
  color: #4a8817;
}


table.status td a.closed:hover {
  background: #555;
}

table.status td a.resolved:hover {
  background: #638296;
}

table.status td a.open:hover {
  background: #4a8817;
}


/***** `subheading *****/

#subheading {
  background: #e7eef4;
  padding: 15px 15px;
  position: relative;
}

#subheading h2 {
  color: #333;
  font-size: 1.2em;
}

#subheading ul {
  position: absolute;
  right: 15px;
  top: 8px;
}

#subheading ul li {
  float: right;
}

#subheading ul li a {
  margin: 0 0 0 16px;
  display: block;
  padding: 8px;
}

#subheading ul li.current a {
  background: #069;
  color: #fff;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/***** `forms *****/
form {
}

  form label {
    color: #555;
  }

  /***** `custom *****/
  div.subject input {
    font-size: medium;
    font-weight: bold;
    width: 98%;
  }
  
  /***** `create *****/
  div.create form { 
    background: #e7eef4;
    border: 2px solid #d0dee8;
    padding: 10px;
  }
  
  div.create.icon form {
    padding-left: 40px;
  }

  div.create.milestone.icon form { background: #e7eef4 url(../../images/app/icons/medium/CreateMilestone.png) 8px 8px no-repeat; }
  div.create.category.icon form { background: #e7eef4 url(../../images/app/icons/medium/CreateCategory.png) 8px 8px no-repeat; }
  div.create.key.icon form { background: #e7eef4 url(../../images/app/icons/medium/CreateKey.png) 8px 8px no-repeat; }
  div.create.billing-info.icon form { background: #e7eef4 url(../../images/app/icons/medium/UpdateBillingInfo.png) 8px 8px no-repeat; }

  div.create div.section {
    border-bottom: 1px solid #d0dee8;
    
  }
  
  div.create div.field {
    padding-top: 10px;
  }

  div.create form label {
    display: block;
    padding-bottom: 3px;
    font-weight: bold;
  }
  
  div.create form h3 {
    color: #369;
    font-size: 110%;
    padding: 3px 0 10px;
  }

  div.create form h4 {
    color: #369;
    font-size: 110%;
    padding: 3px 0 3px;
    margin-bottom: 0;
  }

  /***** `errors *****/
  #errors, #errorExplanation {
    background: #ffffe8 url(../../images/app/icons/large/Warning.png) 98% 20% no-repeat;
    line-height: 140%;
    margin: 0 0 1em 0;
    padding: 15px 55px 15px 15px;
  }
  
  .errors h2, .errorExplanation h2 {
    background: none;
    border: none;
    color: #7b5024;
    font-size: medium;
    margin: 0 0 5px 0;
    padding: 0;
  }

  .errors ul, .errorExplanation ul {
    display: block;
    margin: 0 0 0 18px;
  }

  .errors ul li, .errorExplanation ul li {
    color: #333;
    list-style: disc;
  }
  
  .attention label {
    color: #7b5024!important;
    display: inline!important;
    font-weight: bold;
    padding: 0 20px 0 0;
    width: auto;
  }

  .attention input,
  .attention select,
  .attention textarea,
  .errors, .errorExplanation {
    border: 2px solid #eed47b!important;
    background: #ffffe8;
  }
  
  /***** `attachments *****/
  .pending {
    position: absolute;
    top: -3000px;
    right: -3000px;
  }

  .file label {
    display: inline!important;
    font-weight: normal!important;
  }

  #attachments #pending {
    margin: 0;
    padding: 0;
  }

  #attachments #pending li {
    background: url(../../images/app/icons/small/AttachmentFile.png) 0 0 no-repeat;
    color: #333;
    display: block;
    font-size: 90%;
    line-height: 130%;
    padding: 2px 0 1px 18px;
    margin: .25em 0 0 0;
  }

  #attachments #pending li a {
    color: #900!important;
    background: url(../../images/app/icons/small/Delete.png) 0 50% no-repeat;
    margin: 0 0 0 5px;
    padding: 0 0 0 16px;
  }

  input.invisible {
    position: absolute;
    left: -10000px;
  }

  /***** `section *****/
  div.section {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }
  
  div.section.icon {
    padding-left: 40px;
  }

  div.section p {
    color: #333;
  }

  div.section.summary h3 {
    margin-bottom: 5px;
  }

  div.section.summary p,
  div.section.summary ul {
    padding-left: 30px;    
  }

  div.section.summary ul {
      margin-bottom: 5px;
  }
  /***** `table *****/
  form table tbody tr td {
    padding-top: 7px;
    margin: 0;
  }


  /***** `fields *****/
  div.field {
    margin: 0 0 15px;
    line-height:140%;
  }
    
  li.field {
    margin: 5px 0;
  }

  .field span {
    color: #666;
    line-height: 1.4em;
  }

  .field > span {
    display: block;
  }

  .field label {
    display: block; 
  }

  .field label strong {
    color: #333;
  }

  .field label span {
    color: #999;
    display: inline;
    font-weight: normal;
  }
  
  .field span.alternative {
    display: inline;
  }
  
  
  .tiny input,
  .tiny select {
    width: 30px;
  }
  
  .small input,
  .small select,
  input.small,
  select.small {
    width: 50px;
  }

  .medium input,
  .medium select,
  input.medium,
  select.medium {
    width: 100px;
  }
  
  .large input,
  .large select,
  input.large,
  select.large {
    width: 200px;
  }

  .xlarge input,
  .xlarge select,
  input.xlarge,
  select.xlarge {
    width: 350px;
  }


  input[type="radio"] + label,
  input[type="checkbox"] + label, 
  input[type="hidden"] + label {
    display: inline;
    font-weight: normal;
  }
  
  .field textarea {
    width: 95%;
  }
  
  input[type="text"],
  input[type="password"],
  select,
  textarea {
    border: 1px solid #ccc;
  }

  input[type="text"],
  input[type="password"],
  textarea {
    font-family: helvetica, arial, sans-serif;
    padding: 3px;
  }

  input,
  select {
    font-size: 100%;
  }
  
  textarea {
    font-size: 110%;
    line-height: 140%;
  }
  
  textarea.small {
    height: 4em;
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  select:focus,
  textarea:focus {
    background-color: #ffc;
c  }


  input[type="submit"],
  input[type="button"] {
    font-size: small;
  }
  

  /***** `input-container *****/
  div.input-container {
    background: #fff;
    border: 1px solid #ccc;
  }

  #supplement div.description.field > label {
    font-size: small;
    font-weight: bold;
    padding: 2px 0 10px;
    text-transform: uppercase;

  }

  div.input-container textarea {
    border: none;
    width: 99%;
  }

  /***** `status *****/
  div.input-container div.status {
    background: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    margin: 2px;
    padding: 10px;
  }
  
  div.status.field ul {
    display: block;
    margin: 0;
  }
  div.status.field ul li {
    display: inline;
    text-transform: none;
  }

  div.status.field ul li:first-child span {
    background: none!important;
    padding: 0;
  }

  div.status.field ul li span {
    background: url(../../images/app/ForwardStatusArrow.gif) 3px 50% no-repeat;
    padding: 0 0 0 24px;
  }

  div.status.field ul li span.selected {
    background: url(../../images/app/BackwardStatusArrow.gif) 3px 50% no-repeat;
  }

  div.status.field ul li span.selected label {
    font-weight: bold!important;
  }

  div.priority.field label,
  div.category.field label,
  div.assignee.field label,
  div.milestone.field label{
    display: inline;
    float: left;
    padding: 5px 0;
    width: 80px;
  }

  /***** `buttons *****/  
  div.buttons {
    position: relative;
  }
  
  div.buttons.icon {
    padding-left: 40px;
  }
  
  div.buttons span {
    color: #999;
    font-size: small;
  }
  
  div.buttons span a {
    color: #900;
  }

  div.buttons p {
    margin: 10px 0 0 0;
  }

  div.buttons span.alternate {
    min-height: 20px;
    padding: 2px;
    position: absolute;
    top: 17px;
    right: 15px;
/*    float: right;
    padding: 5px;*/
  }
  
  div.buttons span.alternate a {
    color: #666;
  }
  
  input[type="submit"],
  input[type="button"] {
    overflow: visible;
    padding: 1px 4px 0; 
    width: auto;
  }

/***** `global *****/
#global {
  font-size: small;
  min-height: 30px;
  margin-top: 10px;
}
  
  #global .cushion {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #global ul {
    margin: 0;
    padding: 5px 0 0 0;
  }
  
  #global li {
    line-height: 130%;
    margin: 0 10px 0 0;
  }
  
  #global a {
    color: #d0dee8;
  }

  #global li.divider {
    border-left: 1px solid #737d94;
    padding-left: 10px;
  }


  /***** `search *****/
  #global form {
    position: relative;
  }
  
  #global input.query {
    background: #e7eef4;
    border: none;
    color: #333;
    width: 120px;
    position: absolute;
    right: 27px;
    top: 0;
  }
  
  #global input.blurred {
    color: #999!important;
  }
  
  #global input[type="image"] {
    position: absolute;
    right: 0;
    top: 0;
  }

/***** `header *****/
#header {
  background-color: #efefef;
  border-bottom: 2px solid #e0e0e0;
  position: relative;
  z-index: 10000;
}
  #header .cushion {
    padding-bottom: 0;
    position: relative;
  }

  #header.simple h1 {
    font-size: x-large;
    line-height: 145%;
    margin: 0 0 10px;
    padding: 0 0 0 0;
  }

  #header h1 {
    display: inline-block;
    line-height: 110%;
    margin: 0 0 0;
    padding: 0;
  }

  #header h1 a {
    color: #333;
    text-decoration: none;
  }

  #header h1 a:hover {
    border-bottom: 1px solid #ddd;
    color: #333;
  }

  #header h1 span {
    color: #999;
    font-size: 80%;
    font-weight: normal;
    letter-spacing: 0;
  }
  
  #header h1 img {
    margin: 4px 4px 2px;
    cursor: pointer;
    display: inline-block;
  }
  
  #project-name span {
    background: url(../../images/app/DropDownBullet.gif) right 5px no-repeat;
    padding-right: 15px;
  }
  

  /***** `create *****/
  #create-button {
    border: none;
    display: block;
    float: right;
    font-weight: bold;
    height: 30px;
    position: relative;
    text-align: left;
    margin: 0;
  }

  #create-button span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  #create-button.issue { width: 170px; }
  #create-button.issue span { background: #efefef url(../../images/app/buttons/CreateIssue.png) left top no-repeat; }

  #create-button.project { width: 182px; }
  #create-button.project span { background: #efefef url(../../images/app/buttons/CreateProject.png) left top no-repeat; }

  #create-button.company { width: 199px; }
  #create-button.company span { background: #efefef url(../../images/app/buttons/CreateCompany.png) left top no-repeat; }

  /***** `switcher *****/
  #switcher {
    position: absolute;
    left: -2px;
    z-index: 6000;
    font-size: 82%;
    width: auto;
    padding-top: 8px;
    background: transparent url(../../images/app/corner.gif) 8px 0px no-repeat;
    display: none;
  }

    #switcher .projects {
      background: #d0dee8;
      min-width: 150px;
      padding: 5px 15px 10px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }

    #switcher .projects strong {
      text-transform: uppercase;
      color: #069;
      display: block;
      padding: 12px 0 5px;
    }

    #switcher .projects ul {
/*      margin-bottom: 8px;
      padding-bottom: 5px;
*/    }

    #switcher .projects ul li {
      padding: 3px 0;
    }

    #switcher a.archived {
      display: block;
      padding-top: 5px;
    }

    #switcher .projects a {
      color: #069;
      display: block;
/*      padding: 5px 0;*/
    }
  
  /***** `tabs *****/
  #tabs {
    font-size: small;
  }

    #tabs > li:first-child {
      margin-left: -10px;
    }

    #tabs > li {
      background: #f0f0f0;
    	float: left;
      margin: 0 15px 0 0;
      width: auto;
    }

    #tabs li a {
      border: 2px solid #f0f0f0;
      color: #777;
      display: block;
      padding: 8px 8px 7px 8px;
      z-index: 5000;
    }

    #tabs > li > a span {
      background: #f0f0f0; 
      display:block;
    }

    #tabs > li.children > a span {
      background: #f0f0f0 url(../../images/app/DropDownBullet.gif) right 3px no-repeat; 
      padding-right: 16px;
    }

    #tabs, 
    #tabs ul {
      line-height: 1;
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	z-index: 1000;
    }

    /***** Drop Downs *****/
    #tabs ul {
      display: block;
      float: left;
      position: relative;
    }

    #tabs li ul {
      background-image: none;
      border: 2px solid #e0e0e0;
      left: -999em;
      margin-top: -2px;
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;
    }

    #tabs li:hover a {
    }

    #tabs li.children:hover a {
      background-color: #f4f4f4;
      border: 2px solid #e0e0e0;
      border-bottom: none;
      position: relative;
    }

    #tabs li.children:hover ul {
      background-color: #f4f4f4;
      left: auto;
    }

    /***** Menu Items *****/

    #tabs ul li {
      display: block;
      float: none;
      margin: 0 8px;
      width: auto;
      min-width: 100px;
    }

    #tabs ul li.demphasize a {
      color: #aaa;
    }

    #tabs ul li a span {
      background: none;
      color: #ccc;
      display: inline;
      font-weight: normal;
      padding: 0;
    }

    #tabs ul li.divider {
      border-top: 1px solid #e0e0e0;
      margin-top: 5px;
      padding-top: 5px;
    }

    #tabs ul li a,
    #tabs ul li strong {
      display: block;
      padding: 5px 0;
    }

    #tabs ul li strong {
      color: #555;      
    }

    #tabs ul li a {
      color: #666;
      border: none!important;
    }

/***** `notification *****/
.notification {
  background-color: #ffffe8;
  border-bottom: 2px solid #d6d6d6;
  display: block;
  font-size: small;
  line-height: 140%;
}

  .notification div > strong,
  .notification > strong {
    color: #8e5c2a;
    display: block;
    margin: 0;
    text-transform: uppercase;
  }

  .notification a { 
    text-decoration: underline; 
  }

  .notification a:hover { 
    text-decoration: none; 
  }

  .notification ul {
    margin-bottom: 0;
  }

  /***** `module notification *****/
  .module.notification { 
    border-color: #f0f0f0!important;
  }
  .module.notification strong { 
    margin-bottom: 0;
  }

  /***** `content notification *****/
  .primary .notification { 
    border: 2px solid #f0f0f0;
    margin-bottom: 15px;
    padding: 15px;
  }

  .primary .notification p {
    margin-bottom: 5px;
  }
  
  .notification div.task {
    border-top: 1px solid #e0e0e0;
    padding: 10px 0 0;
    margin: 10px 0 0;
  }
  
  .notification div.task span {
    margin-top: 5px;
  }

  /***** `header notification *****/
  .container_16.notification {
    border-bottom: 2px solid #d6d6d6!important;
  }
  
  .notification .container_16 .cushion,
  .container_16.notification .cushion {
    margin: 0;
    padding-left: 55px;
    width: 875px;
  }

  .container_16.notification.frozen { background: #ffffe8 url(../../images/app/icons/large/Frozen.png) 15px 14px no-repeat;}
  .container_16.notification.limits { background: #ffffe8 url(../../images/app/icons/large/StatusYellow.png) 15px 14px no-repeat;}
  .container_16.notification.maxed { background: #ffffe8 url(../../images/app/icons/large/StatusRed.png) 15px 14px no-repeat;}
  .container_16.notification.billing { background: #ffffe8 url(../../images/app/icons/large/Warning.png) 15px 14px no-repeat;}
  .container_16.notification.maintenance { background: #ffffe8 url(../../images/app/icons/large/Maintenance.png) 15px 14px no-repeat;}
  .container_16.notification.archived { background: #ffffe8 url(../../images/app/icons/large/Archive.png) 15px 14px no-repeat;}
  .container_16.notification.trial { background: #ffffe8 url(../../images/app/icons/large/Trial.png) 15px 14px no-repeat;}
  .container_16.notification.reminder { background: #ffffe8 url(../../images/app/icons/large/Alert.png) 15px 14px no-repeat;}
  .container_16.notification.announcement { background: #ffffe8 url(../../images/app/icons/large/Announcement.png) 15px 14px no-repeat;}
  .container_16.notification.blank-slate { background: #ffffe8 url(../../images/app/icons/large/Clipboard.png) 15px 14px no-repeat;}
  .container_16.notification.purge { background: #ffffe8 url(../../images/app/icons/large/Purge.png) 15px 14px no-repeat;}


  /***** `global notification *****/
  .notification.warning,
  .notification.error { background-color: #ffffe8 }
  
  .notification.warning > div:first-child,
  .notification.error > div:first-child { background: #ffffe8 url(../../images/app/icons/large/Alert.png) 15px 8px no-repeat; border: none!important;}
  
  .notification.notice { background-color: #def1ca }
  .notification.notice > div:first-child  { background: #def1ca url(../../images/app/icons/large/Confirm.png) 15px 8px no-repeat; border: none!important;}
  .notification.notice { border-bottom: 2px solid #58941c!important; }

  .notification.notice strong,
  .notification.notice a { color: #58941c; }

  .notification .full,
  .notification .mini,
  .notification .focused {
    padding-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .notification .full { width: 925px; }
  .notification .mini { width: 265px; }
  .notification .focused { width: 565px; }  


/***** `page *****/
#page {
  background-color: #fff;
}

.content {
  font-size: small;
}


/***** `instructions *****/
.focused .instructions {
  font-size: small;
}

.focused .instructions code {
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  padding: 10px;
  margin-bottom: 15px;
}

.instructions code,
.instructions samp {
  font-family: "Courier New", monospace, serif; font-size: 1em;
}

.content .important,
.content .warnings strong {
  color: #f60!important;
}

.content .warnings li {
  display: block;
  margin-bottom: 10px;
}

a.project-email {
  background: #f0f0f0;
  border:1px solid #ccc;
  display: block;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 15px;
  text-align: center;
}

p.vcard {
  text-align: center;
  margin-bottom: 30px;
}

/***** `supplement *****/
#supplement {
  background-color: #efefef;
  border-top: 2px solid #e0e0e0;
}

  #supplement .module {
    background: transparent;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  #supplement .module h2,
  #supplement .module h3 {
    margin-top: 0;
    padding-top: 0;
  }

/***** `nav *****/
.nav {
  
}

  .nav li {
    display: inline;
  }
  


/***** `searchbar *****/
#search {
/*  
  background: #e7eef4 <- #e4f2ff
  background-color: #d0dee8 <- #c8e5ff
*/
  background-color: #e7eef4;
  border-bottom: 2px solid #d0dee8;
  font-size: small;
  padding: 10px 0;
}
  
  #search span {
    color: #999;
  }
  
  #search .cushion {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  #search input[type="text"] {
    border: 1px solid #d0dee8;
    width: 300px;
  }

  #search input[type="text"]:focus {
  }

/***** `filter-summary *****/

h2.matching {
  margin-bottom: 5px;
}

#filter-summary {
  border-bottom: 1px solid #e0e0e0;
  color: #666;
  margin-bottom: 0;
  padding: 0 15px 10px 0;
}

  #filter-summary + p {
    margin-top: 10px;
  }

  #filter-summary em {
    font-weight: bold;
    color: #333;
  }

/***** `statusbar *****/
#status {
  padding:  10px 0 9px;
}

  #status .cushion {
    padding-top: 2px;
    padding-bottom: 1px;
  }

  #status ul {

  }

  #status ul li {
    font-weight: bold;
    letter-spacing: -.061em;
    text-transform: uppercase;
  }

  #status ul li span {
    font-weight: normal;
    text-transform: none;
  }

  #status ul.details li {
    display: block;
    float: left;
    margin-right: 15px;
    padding-right: 15px;
  }

  #status ul.details li:last-child {
    border: none; 
  }

  #status ul.details li span {
    display: block;
    font-size: 70%;
    margin-bottom: 4px;
  }

  #status ul.people li {
    letter-spacing: 0;
    text-align: right;
    font-size: 80%;
  }

  #status ul.people li span {
    font-size: 85%;
  }

  #status ul.people li:first-child {
    margin-bottom: 6px;
  }

/***** `issue *****/
.issue {
  border-bottom: 1px solid #e0e0e0;
  font-size: small;
  line-height: 130%;
  margin: 0;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
  
  .issue h2 {
    font-size: 110%;
    line-height: 130%;
  }

  .issue.exact {
    background: #e7eef4;
  }

  .issue h2 span {
    color: #666;
    font-weight: normal;
    padding: 2px 0 0 0;
    text-decoration: none;
  }

  .issue span.meta {
    color: #666;
    display: block;
    padding: 1px 0 0 0;
  }


  .issue h2,
  .issue span.meta {
    margin: 0 155px 0 95px;
  }

  .issue ul {
    position: absolute;
    top: 0;
  }


  .issue ul.people {
    font-size: 85%;
    margin-top: 10px;
    max-width: 140px;
    padding-top: 1px;
    right: 10px;
    text-align: right;
  }

  .issue ul.people li span {
    color: #999;
  }

  .issue ul.state {
    display: block;
    margin-top: 10px;
    left: 0;
    width: 80px;
  }

  .issue ul.state li {
    width: 100%;
    text-align: center;
  }

  .issue ul.state li.priority {
    font-size: 85%;
  }


  /***** `chiclet *****/
  span.status {
    border: 1px solid #fff;
    padding: 4px 2px 0;
    text-transform: uppercase;
  }
  
  span.status,
  p a.status {
    font-weight: bold;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
  }
  
  p a.status:hover {
    text-decoration: none;
  }

  span.status {
    font-size: 85%;
    padding: 2px 5px 1px;
  }
  
  .critical { color: #f00!important; font-weight: bold; }
  .high { color: #000!important; font-weight: bold; }
  .normal { color: #666!important; font-weight: bold; }
  .low { color: #777!important; }
  .trivial { color: #999!important; }

  .resolved { background: #638296; color: #fff;}
  span.status.resolved { border-color: #638296; }
  .resolved span { color: #a8bdca;}
  .resolved ul.details li { border-right: 1px solid #7d99ab;}

  .reopened, .open { background: #4a8817; color: #fff; }
  span.status.reopened, span.status.open { border-color: #4a8817; }
  .reopened span, .open span { color: #afd78e;}
  .reopened ul.details li, .open ul.details li { border-right: 1px solid #76a83b;}
  .reopened { color: #feff9f; }

  .closed {background: #555; color: #fff;}
  span.status.closed { border-color: #555; }
  .closed span {color: #ccc;}
  .closed ul.details li {border-right: 1px solid #858585;}

  a.open:hover { background: #58941c; color: #def1ca; }
  a.reopened:hover { background: #fff; color: #58941c; }
  a.resolved:hover { background: #fff; color: #638296; }
  a.closed:hover { background: #fff; color: #666; }
    
    
  /***** `detail *****/
  div.deleted span,
  div.deleted p {
    color: #ccc!important;
  }

  div.deleted p a {
    background: #f0f0f0!important;    
  }

  div.deleted a {
    color: #ccc!important;
  }

  div.deleted a:hover {
    color: #ccc;

  }

  div.deleted span.status {
    background: #f0f0f0;
    color: #bbb!important;
  }


  span.meta {
    display: block;
    margin-bottom: 15px;
  }

  span.author {
    font-weight: bold;
  }
  
  span.source a {
    font-weight: bold;
  }
  
  span.source.beanstalk a {
    color: #2d7743;
  }


  span.changes,
  span.date {
    color: #666;
    display: inline;
    line-height: 1.4em;
  }

  span.changes {
    font-size: 90%;
  }

  span.changes span {
    color: #999;
    border-left: 1px solid #e0e0e0;
    font-style: italic;
    padding-left: 7px;
    margin-left: 7px;
  }
  
  span.changes span:first-child {
    border: none;
    padding: 0;
    margin: 0;
  }
  
  #additional em,
  #attachments em {
    display: block;
    padding-bottom: 10px;
  }

  .attachments {
    
  }
  
  .attachments ul {
    display: block;
    margin: 15px 0 0;
    padding: 0;    
  }

  .attachments ul.thumbnails li {
    display: inline;
    margin: 0;
    padding: 0;
  }

  .attachments ul.thumbnails li img {
    border: 4px solid #e0e0e0!important;
    margin-right: 3px;
    margin-bottom: 5px;
    width: 125px;
    height: 125px;
  }

  .attachments ul.files {
    
  }

  .attachments ul.files li {
    
  }

  .attachments ul.files li span {
    color: #888;
    font-size: 90%;
    font-weight: normal;
    text-decoration: none;
  }

  .attachments ul.files li a {
    display: inline-block;
    font-size: small;
    padding: 10px 0 12px 36px;
  }

  .attachments ul.files li a:hover {
    text-decoration: none;
  }

  .attachments ul.files li a span:first-child {
    color: #333;
  }

  .attachments ul.files li a:hover span:first-child {
    text-decoration: underline;
  }
  
  ul.files li.ai a { background: transparent url(../../images/app/icons/files/ai.gif) left top no-repeat; }
  ul.files li.css a { background: transparent url(../../images/app/icons/files/css.gif) left top no-repeat; }
  ul.files li.csv a { background: transparent url(../../images/app/icons/files/csv.gif) left top no-repeat; }
  ul.files li.doc a { background: transparent url(../../images/app/icons/files/doc.gif) left top no-repeat; }
  ul.files li.generic a { background: transparent url(../../images/app/icons/files/generic.gif) left top no-repeat; }
  ul.files li.gzip a { background: transparent url(../../images/app/icons/files/gzip.gif) left top no-repeat; }
  ul.files li.html a { background: transparent url(../../images/app/icons/files/html.gif) left top no-repeat; }
  ul.files li.js a { background: transparent url(../../images/app/icons/files/js.gif) left top no-repeat; }
  ul.files li.pdf a { background: transparent url(../../images/app/icons/files/pdf.gif) left top no-repeat; }
  ul.files li.psd a { background: transparent url(../../images/app/icons/files/psd.gif) left top no-repeat; }
  ul.files li.rdf a { background: transparent url(../../images/app/icons/files/rdf.gif) left top no-repeat; }
  ul.files li.txt a { background: transparent url(../../images/app/icons/files/txt.gif) left top no-repeat; }
  ul.files li.xls a { background: transparent url(../../images/app/icons/files/xls.gif) left top no-repeat; }
  ul.files li.xml a { background: transparent url(../../images/app/icons/files/xml.gif) left top no-repeat; }
  ul.files li.zip a { background: transparent url(../../images/app/icons/files/zip.gif) left top no-repeat; }
    
/***** `pagination *****/
.pagination {
  clear: both;
  font-size: small;
  font-weight: bold;
  padding: 15px 0 5px;
  text-align: center;
}

  .pagination .disabled,
  .pagination .current {
    color: #999;
    font-weight: normal;
  }

  .pagination * {
    padding: 3px 6px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }

  .pagination .prev_page,
  .pagination .next_page {
    padding: 2px 6px!importan;
  }

  .pagination .current {
    background: #e0e0e0;
    color: #666;
  }

  .pagination a:hover {
    background: #e4f2ff;
    text-decoration: none;
  }
  
/***** `module *****/
.module {
  border: 2px solid #e0e0e0;
  color: #555;
  line-height: 140%;
  margin: 0 0 15px 0;
  padding: 6px;
}
  .module select,
  .module input {
    max-width: 95%;
  }
  
  .module a:hover {
    text-decoration: underline;
  }
  
  .module h2,
  .module h3 {
    text-transform: uppercase;
  }

  .module h2 {
    color: #666;
    background: #e0e0e0;
    margin: 6px -6px 6px;
    padding: 6px 6px;
  }

  .module > h2:first-child,
  .module span:first-child > h2 {
    margin-top: -6px;
  }
  
  .module h3 {
    margin: 6px 0 4px 0;
  }

  .module > h3:first-child {
    margin-top: none;
  }
  
  .module .divider {
    border-top: 1px solid #e0e0e0;
    margin-top: 8px;
    padding-top: 8px;
  }


  .module .freshness span {
    font-size: 90%;
    color: #bbb;
  }
  
  .module span.status + ul {
    margin-top: 10px;
  }

  /***** `meta *****/
  .module.meta { 
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left-width: 2px;
    padding-top: 0;
    padding-bottom: 0;
  }

  /***** `miniform *****/
  .module.miniform { }
  .module.miniform h2 { }
  
  .module.miniform div.buttons {
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  
  .module.miniform li {
    line-height: 170%;
  }
  
  /***** `navigation *****/
  .module.navigation { border-color: #e7eef4; }
  .module.navigation h2 { background: #e7eef4; color: #069; }
  .module.navigation .divider { border-top-color: #e7eef4; }
  
  /***** `local *****/
  .module.local { 
    border-color: #d0dee8; /*c8e5ff*/
    line-height: 140%;
    padding: 0;
  }

  .module.local h2,
  .module.local span:first-child > h2 {
    background-color: #d0dee8; /*c8e5ff*/
    color: #069;
    margin: 0;
    padding-right: 9px;
    padding-left: 9px;
  }
  
  .module.local ul {
    padding: 0 1px;
    border-top: 1px solid #fff;
    border-bottom: none;
    margin-bottom: 1px;
  }
  
  .module.local ul li:first-child a {
    margin-top: 0;
  }
  
  .module.local ul li a {
    background-color: #e7eef4; /*e4f2ff*/
    border-bottom: 1px solid #d0dee8;
    border-right: 1px solid #d0dee8;
    color: #069;
    padding: 5px 8px;
    margin-top: 1px;
    display: block;
    text-decoration: none;
  }

  .module.local ul li a:hover {
    background-color: #d0dee8!important;
    text-decoration: none;
  }

  .module.local ul li.current a {
    background-color: #d0dee8;
    color: #069;
    font-weight: bold;
  }

  .module.local ul li.current ul {
    border: none;
    margin: 0;
    padding: 1px 0 0 0;
  }
  
  .module.local ul li.current ul li {
    border: none;
    margin: 0;
    
  }

  .module.local ul li.current ul li a {
    background-color: #fff;
    font-weight: normal;
  }

  .module.local ul li.current ul li a:hover {
    background-color: #fff!important;
    text-decoration: underline;
  }

  .module.local ul li.current ul li.current a {
    font-weight: bold;
  }
  
  /***** `sort *****/
  .module.local ul li a.asc,
  .module.local ul li a.desc {
    display: block;
    padding-right: 20px;
  }

  .module.local ul li.current a.asc {
    background: #e7eef4 url(../../images/app/modules/Asc.gif) 96% 50% no-repeat;
  }

  .module.local ul li.current a.desc {
    background: #e7eef4 url(../../images/app/modules/Desc.gif) 96% 50% no-repeat;
  }

  .module.local ul li a.desc:hover,
  .module.local ul li.current a.asc:hover {
    background: #c8e5ff url(../../images/app/modules/Desc.gif) 96% 50% no-repeat;
  }

  .module.local ul li a.asc:hover,
  .module.local ul li.current a.desc:hover {
    background: #c8e5ff url(../../images/app/modules/Asc.gif) 96% 50% no-repeat;
  }
  
  /***** `filter *****/
  .module.local ul li a.on,
  .module.local ul li a.off {
    display: block;
    padding-right: 20px;
  }

  .module.local ul li.on a {
    font-weight: bold;
    background: #e7eef4 url(../../images/app/modules/On.gif) 98% 50% no-repeat;
  }

  .module.local ul li.off a {
    background: #e7eef4 url(../../images/app/modules/Off.gif) 98% 50% no-repeat;
  }

  .module.local ul li.on a:hover {
    font-weight: bold;
    background: #e7eef4 url(../../images/app/modules/Remove.gif) 98% 50% no-repeat;
  }

  .module.local ul li.off a:hover {
    background: #e7eef4 url(../../images/app/modules/Add.gif) 98% 50% no-repeat;
  }
  
  .module.local span:first-child h2 {
    border-top: none;
  }
  
  .module.local span h2 {
    background: #d0dee8 url(../../images/app/modules/ExpandedBullet.gif) 95% 55% no-repeat;
    border-top: 1px solid #fff;
    cursor: pointer;
    display: block;
  }

  .module.local span ul {
    margin-bottom: 0;
  }

  .module.local span.collapsed h2 {
    background: #d0dee8 url(../../images/app/modules/CollapsedBullet.gif) 95% 55% no-repeat;
    cursor: pointer;
  }
  
  .module.local span h2:hover {
    background: #d0dee8 url(../../images/app/modules/CollapseBullet.gif) 95% 55% no-repeat;
  }

  .module.local span.collapsed h2:hover {
    background: #d0dee8 url(../../images/app/modules/ExpandedBullet.gif) 95% 55% no-repeat;
  }
  
/***** `people and companies *****/

td.username {
  width: 35%;
}
td.email {
  width: 45a%;
}

td.email span {
  color: #58941c;
}

td.bouncing,
td.bouncing span {
  color: #f00!important;
}

td.unsubscribed,
td.unsubscribed span {
  color: #ccc;
}

/***** `icons *****/
h1.icon { margin-top: 8px!important;padding: 5px 0 0 40px!important; }
h2.icon { padding: 7px 0 7px 40px; }
h3.icon { padding: 6px 0 4px 30px; }
.module.local ul li.icon a { padding-left: 32px; }

h1.archive { background: url(../../images/app/icons/large/Archive.png) 0 50% no-repeat; }
h1.create-company { background: url(../../images/app/icons/large/CreateCompany.png) 0 50% no-repeat; }
h1.create-project { background: url(../../images/app/icons/large/CreateProject.png) 0 50% no-repeat; }

h2.edit-company { background: url(../../images/app/icons/large/EditCompany.png) 0 50% no-repeat; }
h2.edit-user { background: url(../../images/app/icons/large/EditUser.png) 0 50% no-repeat; }

li.summary a { background: url(../../images/app/icons/small/Summary.png) 8px 5px no-repeat; }

.section.location { background: url(../../images/app/icons/medium/Location.png) 0 0 no-repeat; }
.section.phone { background: url(../../images/app/icons/medium/Phone.png) 0 0 no-repeat; }
.section.fax { background: url(../../images/app/icons/medium/Fax.png) 0 0 no-repeat; }
.section.time-zone { background: url(../../images/app/icons/medium/TimeZone.png) 0 0 no-repeat; }
.section.link { background: url(../../images/app/icons/medium/Link.png) 0 0 no-repeat; }

/*h2.filter { background: url(../../images/app/icons/large/Filter.png) 0 45% no-repeat; margin-bottom: 0;}*/

h2.plan { background: url(../../images/app/icons/large/Plan.png) 0 50% no-repeat; }
h3.plan { background: url(../../images/app/icons/medium/Plan.png) 0 50% no-repeat; }
li.plan a { background: url(../../images/app/icons/small/Plan.png) 8px 5px no-repeat; }

h2.holder { background: url(../../images/app/icons/large/User.png) 0 50% no-repeat; }
h3.holder { background: url(../../images/app/icons/medium/User.png) 0 50% no-repeat; }
li.holder a { background: url(../../images/app/icons/small/User.png) 8px 5px no-repeat; }

h2.billing { background: url(../../images/app/icons/large/BillingInfo.png) 0 50% no-repeat; }
h3.billing { background: url(../../images/app/icons/medium/BillingInfo.png) 0 50% no-repeat; }
li.billing a { background: url(../../images/app/icons/small/BillingInfo.png) 8px 5px no-repeat; }

h2.invoices { background: url(../../images/app/icons/large/Ledger.png) 0 50% no-repeat; }
h3.invoices { background: url(../../images/app/icons/medium/Ledger.png) 0 50% no-repeat; }
li.invoices a { background: url(../../images/app/icons/small/Ledger.png) 8px 5px no-repeat; }

h2.invoice { background: url(../../images/app/icons/large/Invoice.png) 0 50% no-repeat; }

h2.export { background: url(../../images/app/icons/large/Export.png) 0 50% no-repeat; }
h3.export { background: url(../../images/app/icons/medium/Export.png) 0 50% no-repeat; }
li.export a { background: url(../../images/app/icons/small/Export.png) 8px 5px no-repeat; }

h2.hold { background: url(../../images/app/icons/large/Pause.png) 0 50% no-repeat; }
h3.hold { background: url(../../images/app/icons/medium/Pause.png) 0 50% no-repeat; }
li.hold a { background: url(../../images/app/icons/small/Pause.png) 8px 5px no-repeat; }

h2.reactivate { background: url(../../images/app/icons/large/Play.png) 0 50% no-repeat; }
h3.reactivate { background: url(../../images/app/icons/medium/Play.png) 0 50% no-repeat; }
li.reactivate a { background: url(../../images/app/icons/small/Play.png) 8px 5px no-repeat; }

h2.cancel { background: url(../../images/app/icons/large/Cancel.png) 0 50% no-repeat; }
h3.cancel { background: url(../../images/app/icons/medium/Cancel.png) 0 50% no-repeat; }
li.cancel a { background: url(../../images/app/icons/small/Cancel.png) 8px 5px no-repeat; }

h2.profile { background: url(../../images/app/icons/large/Profile.png) 0 50% no-repeat; }
li.profile a { background: url(../../images/app/icons/small/Profile.png) 8px 5px no-repeat; }

h2.password { background: url(../../images/app/icons/large/Password.png) 0 50% no-repeat; }
li.password a { background: url(../../images/app/icons/small/Password.png) 8px 5px no-repeat; }

h2.keys { background: url(../../images/app/icons/large/Key.png) 0 50% no-repeat; }
li.keys a { background: url(../../images/app/icons/small/Key.png) 8px 5px no-repeat; }

h2.settings { background: url(../../images/app/icons/large/Settings.png) 0 50% no-repeat; }
li.settings a { background: url(../../images/app/icons/small/Settings.png) 8px 5px no-repeat; }

h2.permissions { background: url(../../images/app/icons/large/Permissions.png) 0 50% no-repeat; }
li.permissions a { background: url(../../images/app/icons/small/Permissions.png) 8px 5px no-repeat; }

h2.notifications { background: url(../../images/app/icons/large/Email.png) 0 50% no-repeat; }
li.notifications a { background: url(../../images/app/icons/small/Email.png) 8px 5px no-repeat; }

h2.categories { background: url(../../images/app/icons/large/Categories.png) 0 50% no-repeat; }
li.categories a { background: url(../../images/app/icons/small/Categories.png) 8px 5px no-repeat; }

h2.milestones { background: url(../../images/app/icons/large/Milestones.png) 0 50% no-repeat; }
li.milestones a { background: url(../../images/app/icons/small/Milestones.png) 8px 5px no-repeat; }

h2.delete-project { background: url(../../images/app/icons/large/DeleteProject.png) 0 50% no-repeat; }
li.delete-project a { background: url(../../images/app/icons/small/DeleteProject.png) 8px 5px no-repeat; }


td.icon {
  width: 1%;
}

.icon > a,
.icon td:first-child strong,
.blank-slate li {
  display: block;
  padding: 3px 0 0 20px;
}

li.card.icon span {
  display: block;
  padding: 2px 0 0 28px;
}

#payment-method li.problem {
  color: #f00;
  font-weight: bold;
}

.project > a { background: url(../../images/app/icons/small/FolderClosed.png) 0 50% no-repeat; }
.additional > a { background: url(../../images/app/icons/small/FolderOpen.png) 0 50% no-repeat; }
div.file { background: url(../../images/app/icons/small/Attachment.png) 0 50% no-repeat; padding-left: 24px;}
.print > a { background: url(../../images/app/icons/small/Printer.png) 0 50% no-repeat; }
.csv > a { background: url(../../images/app/icons/small/CSV.png) 0 50% no-repeat; }
.xml > a { background: url(../../images/app/icons/small/XML.png) 0 50% no-repeat; }
.archived > a { background: url(../../images/app/icons/small/Archive.png) 0 50% no-repeat; }
.create-new-project > a { background: url(../../images/app/icons/small/CreateProject.png) 0 50% no-repeat; }
.feed > a { background: url(../../images/app/icons/small/Feed.png) 0 50% no-repeat; }
.create-user > a { background: url(../../images/app/icons/small/CreateUser.png) 0 50% no-repeat;}
.edit > a { background: url(../../images/app/icons/small/EditDocument.png) 0 50% no-repeat; }
.edit-user > a { background: url(../../images/app/icons/small/EditUser.png) 0 50% no-repeat; }
.delete-user > a { background: url(../../images/app/icons/small/DeleteUser.png) 0 50% no-repeat; }
.edit-company > a { background: url(../../images/app/icons/small/EditCompany.png) 0 50% no-repeat; }
.delete-company > a { background: url(../../images/app/icons/small/DeleteCompany.png) 0 50% no-repeat; }
.invoice > a { background: url(../../images/app/icons/small/Invoice.png) 0 50% no-repeat; }
.create > a { background: url(../../images/app/icons/small/CreateDocument.png) 0 50% no-repeat; }
.revoke > a { background: url(../../images/app/icons/small/RevokeKey.png) 0 50% no-repeat; }
.refresh > a { background: url(../../images/app/icons/small/Refresh.png) 0 50% no-repeat; }
.delete > a { background: url(../../images/app/icons/small/DeleteDocument.png) 0 50% no-repeat; }
.destroy > a { background: url(../../images/app/icons/small/Delete.png) 0 50% no-repeat; }
.cancel > a { background: url(../../images/app/icons/small/Cancel.png) 0 50% no-repeat; }
.delete-comment > a { background: url(../../images/app/icons/small/DeleteComment.png) 0 50% no-repeat; }
.resend-welcome-email > a { background: url(../../images/app/icons/small/Email.png) 0 50% no-repeat; }
.contact > a { background: url(../../images/app/icons/small/Email.png) 0 50% no-repeat; }
.return > a { background: url(../../images/app/icons/small/ArrowLeft.png) 0 50% no-repeat; }
.permissions > a { background: url(../../images/app/icons/small/Permissions.png) 0 50% no-repeat; }
.categories > a { background: url(../../images/app/icons/small/Categories.png) 0 50% no-repeat; }
.milestones > a { background: url(../../images/app/icons/small/Milestones.png) 0 50% no-repeat; }
.reactivate-user > a { background: url(../../images/app/icons/small/UserRefresh.png) 0 50% no-repeat; }
.support > a { background: url(../../images/app/icons/small/Support.png) 0 50% no-repeat; }

.unassigned-issues > a { background: url(../../images/app/icons/small/User.png) 0 50% no-repeat; }
.review-resolved > a { background: url(../../images/app/icons/small/Confirm.png) 0 50% no-repeat; }
.upgrade > a { background: url(../../images/app/icons/small/ArrowUp.png) 0 50% no-repeat; }
.downgrade > a { background: url(../../images/app/icons/small/ArrowDown.png) 0 50% no-repeat; }
.text-invoice a { background: url(../../images/app/icons/small/TextInvoice.png) 0 50% no-repeat; }

.visa.card span { background: url(../../images/app/icons/medium/Visa.png) 0 50% no-repeat; }
.master.card span { background: url(../../images/app/icons/medium/Mastercard.png) 0 50% no-repeat; }
.discover.card span { background: url(../../images/app/icons/medium/Discover.png) 0 50% no-repeat; }
.american_express.card span { background: url(../../images/app/icons/medium/Amex.png) 0 50% no-repeat; }

.openid a { background: url(../../images/app/icons/OpenID.gif) 0 50% no-repeat; }
.buttons .openid a { background: url(../../images/app/icons/OpenIDGrey.gif) 0 50% no-repeat; }

div.deleted ul li.delete.icon a { color: #900!important;}
.current td:first-child strong { background: url(../../images/app/icons/small/Confirm.png) 0 50% no-repeat; }
.blank-slate li.billing { background: url(../../images/app/icons/small/EditDocument.png) 0 50% no-repeat; }
.blank-slate li.contact { background: url(../../images/app/icons/small/EditDocument.png) 0 50% no-repeat; }

/***** `milestones *****/
td.milestone-status {
  color: #ccc;
  text-align: center;
  font-size: large;
}

  tr.complete td.milestone-status {
    color: #58941c;
  }

/***** `options *****/

div.options {
  border-top: 1px solid #e0e0e0;
  padding: 10px 0 0;
  margin: 10px 0 0;
}

div.options ul {
}

div.options ul li {
  padding: 10px 0 0;
}

/***** `openid *****/
.field.openid label {
  padding: 5px 0 0 18px;
  min-height: 16px;
  background: url(../../images/app/icons/OpenID.gif) 0 50% no-repeat;
}

.openid input {
  width: 250px;
}

.mini .openid input {
  width: 97%;
}

.field.openid span a {
  background: none;
}

/***** `footer *****/
#footer {
  color: #d0dee8;
  font-size: small;
  padding: 8px 0;
}

  #footer ul,
  #footer p {
    font-size: 90%;
    margin: 0 0 5px 0;
  }
  
  #footer p {
    text-align: right;
  }
  
  #footer ul li {
    padding: 0 10px 0 0;
  }

  #footer a {
    color: #d0dee8;
  }

  #footer p a {
    text-decoration: underline;
  }
  
  
/***** `dashboard *****/
div.project {
  margin: 0 0 25px;
  padding: 0;
}

  /***** `heading *****/
  div.project div.heading {
    background: #e7eef4;
    padding: 2px 8px 3px 8px;
  }
  
  div.project div.heading h3 {
    background-color: transparent ;
  }
  
  div.project div.heading h3 {`
    border: none;
    display: inline;
    margin: 0;
    padding: 8px 0 4px 0;
    float: left;
  }

  div.project div.heading h3 span {
    color: #666;
    font-weight: normal;
    font-size: small;
  }

  div.project div.heading a.unassigned {
    background: #e7eef4 url(../../images/app/icons/small/Alert.png) 0 50% no-repeat;
    display: block;
    float: right;
    margin: 8px 12px 0 0;
    padding: 2px 0 1px 19px;
    text-align: right;
  }
  
  div.project div.heading a.create {
    background: transparent url(../../images/app/icons/small/Add.png) 0 50% no-repeat;
    display: block;
    float: right;
    margin: 8px 0 0 0;
    padding: 2px 0 1px 19px;
    text-align: right;
  }

  /***** `activity *****/
  div.project div.recent {
    border-top: 1px solid #d0dee8;
    clear: both;
    margin: 0;
    padding: 5px 0;
  }

  div.project div.recent p {
    color: #999;
    margin-bottom: 0;
  }
  
  div.project div.recent table tr td:first-child {
    padding-left: 8px;
  }

  /***** `counts *****/
  div.project span.overdue {
    color: #c00!important;
    font-weight: bold;
  }

  div.project tr td.label {
    width: 1%;
  }  
  
  div.project tr td.count {
    width: 13%;
  }

  div.project tr td.count a {
    font-weight: bold;
  }
  div.project tr td.count a span {
    color: #3b89b0;
    font-size: x-small;
  }

  div.project tr td.count a:hover span {
    color: #069;
  }

  div.project tr td.percentage {
    width: 10%;
  }
  
  div.project td.completion {
    padding: 0 0 0 10px!important;
  }

  div.project td.completion div {
    border: 1px solid #e0e0e0;
    padding: 1px;
    display: block;
    height: 100%;
    margin: 0;
    text-align: left;
  }

  div.project td.completion span {
    background: #354056;
    display: block;
    font-size: small;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  div.project div.counts {
    margin: 0;
    padding: 0;
  }

  div.project div.counts table tbody tr td {
    border-top: 1px solid #d0dee8;
    padding: 8px 0;
    text-align: right;
  }

  div.project tr td.demphasize a,
  div.project tr td.demphasize a span {
    color: #ccc!important;
    font-weight: normal;
  }

  div.project div.counts table tbody tr td a:hover {
    text-decoration: underline;  
  }


  div.project div.counts table tbody tr td.description {
    text-align: left;
	width: 1%;
    padding-left: 8px;
  }

  div.project div.counts table tbody tr td.description span.subtitle {
    color: #333;
    display: block;
    font-weight: bold;
    line-height: 120%;
    text-align: left;
  }

  div.project div.counts table tbody tr td.description a {
    font-weight: normal;
    line-height: 140%;
  }
  
  div.project div.counts table tbody tr td.description span.due {
    display: block;
    font-size: 90%;
    line-height: 100%;
  }

  /***** `updated *****/
  div.project table td.updated {
    color: #666;
    text-align: right;
  }

  div.project table {
    border: none;
    margin-bottom: 0;
  }

  div.project table td {
    padding: 3px 5px 3px 0;
  }

  div.project td.priority {
    width: 2%;
  }

  div.project td.subject a {
    display: block;
    font-weight: bold;
    padding: 1px 6px 1px 0;
  }

  div.project td.quantity {
    color: #666;
  }

  div.project table tbody tr td.updated,
  div.project td.priority {
    font-size: 85%;
  }
  
  /***** `inactive-projects *****/
  div.inactive-projects {
    clear: both;
    margin-bottom: 15px;
  }
  
  div.inactive-projects h2 {
    color: #333;
    margin: 0;
    padding: 7px 0;
  }

  div.inactive-projects h2 span {
    color: #666!important;
    font-size: small;
    font-weight: normal;
  }

  div.inactive-projects div.project {
    margin-bottom: 0;
  }

  div.inactive-projects div.project div.heading {
    background: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    
  }

/***** `permissions *****/
div.section > span.destroy.icon {
  float: right;
}

/***** `clients *****/

ul.clients {
  
}

ul.clients li {
  border-top: 1px solid #ccc;
  display: block;
  margin-bottom: 15px;
  padding-top: 15px;
  position: relative;
  min-height: 85px;
}

ul.clients li p {
  margin: 0;
}

div.token {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  position: absolute;
  right: 0;
  top: 15px;  
}

div.token samp {
  background: #f0f0f0 url(/app/assets/images/app/icons/small/Key.png) 10px 10px no-repeat;
  color: #666;
  display: block;
  font-family: courier, monospace, serif;
  font-size: 100%;
  padding: 10px 10px 10px 33px;
}

div.token span {
  border-top: 1px solid #ccc;
  display: block;
  margin: 0 10px 10px 10px;
  padding-top: 10px;
}

div.token span a {
  padding-left: 23px;
}